@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black duration-1000;
}
.dark body {
  @apply bg-black  text-white duration-1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}
